{% extends "base_home.html" %}
{% block content %}
<div class="container" style="height: 600px;margin: 2px;">
        <form class="login-one-form" method="post" style="color: var(--bs-body-color);background: #ffffff;">
            <div class="col">
                <div class="login-one-ico"><i class="fa fa-unlock-alt" id="lockico"></i></div>
                <div class="form-group mb-3"  style="height: 250px;">
                    <div>
                        <h3 id="heading">Forget password</h3>
                    </div><input class="form-control"  name ="username" type="text" id="input-1" placeholder="Username">
                    <button class="btn btn-primary" id="button" style="width: 250px;background: blue;border-radius: 5px;margin-top: 15px;" type="submit">Reset</button>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    <a href="{{url_for('login')}}" style="color: green;"><em><span style="text-decoration: underline;">Login</span></em></a>

                </div>
            </div>
        </form>
    </div>
{% endblock %}



