{%  extends "base_home.html" %}
{% block content %}
<div class="container" style="height: 600px;margin: 2px;">
        <form method="post" class="login-one-form" style="color: var(--bs-body-color);background: #ffffff;">
            <div class="col">
                <div class="login-one-ico"><i class="fa fa-unlock-alt" id="lockico"></i></div>
                <div class="form-group mb-3" style="height: 250px;">
                    <div>
                        <h3 id="heading">Reset Password:</h3><br>
                        <l>{{username}}</l>
                    </div>
                    <input class="form-control" type="password" id="input" name="password" placeholder="Password" style="margin: 2px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;margin-top: 10px;">
                    <input class="form-control" type="password" id="input-2" name="confirm_password" placeholder=" Confirm Password" style="margin: 2px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;margin-top: 10px;">
                    <button class="btn btn-primary" id="button" style="width: 250px;background: blue;border-radius: 5px;margin-top: 15px;" type="submit">Change Password</button>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}