{% if event.report %}


{% extends "base_home.html" %}
{% block content %}
<div class="container" style="margin-top: 100px;">
        <h1>Report for Meeting #{{event.meeting_id}}</h1>
        <div class="row">
            <div class="col">
                <h2>Title:{{event.title}}</h2>
                <h2>Venue:{{event.venue}}</h2>
                <h3>Attendance:{{ event.attendance }}</h3>
                <h3>Author:{{event.author}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img class = "img-fluid" loading="auto" style="margin-top: 20px;margin-bottom: 20px;"src="/static/uploads/{{event.image}}">
                    </div>
                </div>
                <p style="margin-top: 50px;">{{ event.report }}</p>
                <strong><hr style="background-color: #f60125; width:auto; height: 5px"></strong>
            </div>
        </div>
    </div>
{% endblock %}

{% else %}
<script>alert("Report not Ready!"); window.location = '/reports';</script>
{% endif %}