{% extends "coordinator/coordinator_base.html" %}
{% block title %}Edit Event{% endblock %}
{% block content %}
<div class="container" style="margin-top: 100px;">
        <h1>Edit Event #{{event.meeting_id}}</h1>
    </div>
    <div class="container">
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <input class="form-control" type="text" placeholder="{{event.title}}" style="width: 300px;margin-bottom: 20px;" required="" name="title">
                    <h5>Venue</h5>
                    <input class="form-control" type="text" placeholder="{{event.venue}}" style="width: 300px;margin-bottom: 10px;" required="" name="venue">
                    <h5>Date</h5><input class="form-control" type="date" style="width: 250px;margin-bottom: 10px;" required="" name="date">
                    <h5>Time</h5><input class="form-control" type="time" style="width: 250px;margin-bottom: 20px;" name="time" required="">
                    <button class="btn btn-primary" type="submit" style="background: blue;border-radius: 5px;">save</button>
                    <p class="card-text"></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
