{% extends "coordinator/coordinator_base.html" %}
{% block title %} Team {% endblock %}
{% block content %}
<div class="container" style="margin-top: 100px;">
        <form method = "post">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Team List</h4>
                    <h5>year</h5><select class="form-select" name="year" style="margin-top: 10px;">
                        <option value="0" selected="">All</option>
                        <option value="1">1 year</option>
                        <option value="2">2 year</option>
                        <option value="3">3 year</option>
                        <option value="4">4 year</option>
                    </select>
                    <h5 style="margin-top: 10px;margin-bottom: 10px;">Department</h5><select name = "department" class="form-select">
                        <option value="0" selected="">All</option>
                            <option value="CSE">CSE</option>
                            <option value="ECE">ECE</option>
                            <option value="EEE">EEE</option>
                            <option value="CIVIL">CIVIL</option>
                            <option value="MECH">Mech</option>
                            <option value="CSE-AI">CSE- AI</option>
                            <option value="CSE-AI&ML">CSE- AI &amp;ML</option>
                            <option value="CSE-DS">CSE- DS</option>
                            <option value="IT">IT</option>
                    </select>
                    <button class="btn btn-primary" type="submit" style="margin-top: 10px;margin-bottom: 10px;background: blue;border-radius: 5px;">Search</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <div class="card"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Badges</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p><em>Students with badges: {{dcount}}</em></p><a class="card-link" href="/distribute_badges" style="color: blue;"><em>Distribute</em></a
                    ><a class="card-link" href="/badge_distributed_list" style="color: blue;"><em>Distributed list</em></a>
                        <h4 class="card-title"></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><em>Students returned badges: {{rcount}}</em></p><a class="card-link" href="/return_badges" style="color: blue;"><em>Return</em></a>
                        <a class="card-link" href="/badge_returned_list" style="color: blue;"><em>Returned list</em></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "container" style="margin-top:20px">
        <div class = "card">
            <div class = "card-body">
                <h4 class = "card-title">Delete Team Members</h4>
                <a href="/delete"><button class="btn btn-primary" type="button" style="margin-top: 10px;margin-bottom: 10px;background: blue;border-radius: 5px;">Delete</button></a>
            </div>
        </div>
    </div>
{% endblock %}