{% extends "coordinator/coordinator_base.html" %}
{% block title   %} Write Report {% endblock %}
{% block content %}
 <div class="container" style="margin-top: 100px;">
        <h1>Write Report</h1>
    </div>
    <div class="container" style="margin-top: 50px;height: 700px;">
        <form style="height: 600px;font-size: 23px;" enctype=multipart/form-data method="post">
            <label class="form-label" ></label>
            <p>
                <strong>Meeting </strong>#{{event.meeting_id}}<br>
                <strong>Title :</strong>{{event.title}}<br>
            <strong>Report:</strong><br>
        </p>
            {% if event.report %}
                <textarea class="form-control" style="height: 300px;" name="report" required="" >{{event.report}}</textarea>
            {% else %}
                <textarea class="form-control" style="height: 300px;" name="report" required=""></textarea>
            {% endif %}
            <label class="form-label"><strong><em>Upload Image</em></strong></label>
            <input class="form-control" type="file" required="" style="margin-top: 10px;" name="file">
            <h6> Only jpg, png, jpeg, gif, raw, webpg are allowed</h6>
            <button class="btn btn-primary" type="submit" style="margin-top: 20px;background: blue;border-radius: 5px;">Save</button>
        </form>
    </div>
{% endblock %}
