{% extends "student/student_base.html" %}
{# Block title #}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
        <h1 style="margin-top: 100px;">{{current_user.name}}'s&nbsp;dashboard</h1>
</div>
    <div class="container" style="margin-top: 20px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Next Meeting </h4>
                <p class="card-text">
                    <em><strong>Meeting No:</strong> {{next.meeting_id}}</em>
                    <br><strong>Title:</strong> {{next.title}}
                    <br><em><strong>Venue:</strong> {{next.venue}}</em>
                    <br><em><strong>Date:</strong> {{next.date}}</em>
                    <br><em><strong>Timings:</strong> {{next.time}}</em>
                </p>
                {% if current_user.username == author %}
                <a class="card-link" href="/write_report/{{next.meeting_id}}" style="color: BLUE;font-style: italic;text-decoration:  underline;"><em>Write Report</em></a>
                {% endif %}
            </div>
        </div>
    </div>
     <div class="container" style="margin-top: 20px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Last Meeting</h4>
                <p class="card-text" style="color: black;">
                    <em><strong>Meeting No: </strong>{{prev.meeting_id}}</em>
                    <br><em><strong>Title: </strong>{{prev.title}}<br></em>
                    <em><strong>Venue: </strong>{{next.venue}}</em>
                    <br><em><strong>Date: </strong>{{prev.date}}</em>
                    <br><em><strong>Timings: </strong>{{prev.time}}</em>
                    <br><em><strong>Attendance: </strong>{{prev.attendance}}</em>
                    <br><em><strong>Report:&nbsp;</strong> &nbsp;</em>
                    <a href="/view_report/{{ prev.meeting_id }}" style="color: blue;"><em>click here</em></a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}