{% extends "student/student_base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container" style="margin-top: 100px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <p class="card-text"><strong>Name: </strong>{{current_user.name}}
                    <br><strong>Role: </strong>{{current_user.type}}
                    <br><strong>Roll No: </strong>{{current_user.username}}
                    <br><strong>Department: </strong>{{current_user.department}}
                    <br><strong>Joining Date: </strong>{{current_user.joining_date}}
                    {% if current_user.badge == '1' %}
                    <br><strong>Badge: </strong>Received
                    {% elif current_user.badge == '0' %}
                    <br><strong>Badge: </strong>Not Received
                    {% else %}
                    <br><strong>Badge: </strong>Returned
                    {% endif %}
                    <br> <strong>Attendance: </strong>{{attendance}}
                    <br><strong>Absents: </strong>{{absents}}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" style="margin-bottom: 50px;"></div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method = "post">
                    <h3 style="margin-bottom: 10px;">Contact Details</h3>
                    <h3>Email</h3><input class="form-control" name = "email" placeholder = "{{current_user.email}}" type="email" />
                    <h3>Phone Number</h3><label>
                    <input class="form-control" name ="phone"type="number" style="margin-top: 20px;" placeholder ="{{current_user.phone}}" />
                </label>
                    <hr><button class="btn btn-primary" type="submit" style="border-radius: 5px;background: blue;">Save</button>
                    {%with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">{{message}}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <form>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">change passwod</h4>
                    <a href="/change_password"><button class="btn btn-primary" type="button" style="background: blue;border-radius: 5px;">change password</button></a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
