{% extends "student/student_base.html" %}
{% block title %}Reports{% endblock %}
{% block content %}
<div class="container" style="margin-top: 100px;">
        <h1 style="border-bottom-style: solid;border-bottom-color: var(--bs-indigo);width: 170px;">Reports</h1>
    </div>

    <div class="container" style="margin-top: 50px;">
        <div class="table-responsive" style="margin-top: 50px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Title</th>
                        <th>Attendance</th>
                        <th>date</th>
                        <th>Author</th>
                        <th>Report</th>
                    </tr>
                </thead>
                <tbody>
                {% for x  in range  (events|length) %}
                    <tr>
                        <td>{{x+1}}</td>
                        <td style="width: 250px;">{{events[x].title}}</td>
                        <td style="width: 50px;">{{events[x].attendance}}</td>
                        <td><em>{{events[x].date}}</em></td>
                        <td><em>{{events[x].author}}</em></td>
                        {% if events[x].report != null %}
                        <td><a href="/view_report/{{events[x].meeting_id}}"> <button class="btn btn-primary" type="button" style="border-radius: 5px;background: blue;">view</button></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
