{% extends "student/student_base.html" %}

{% block title %}Report{% endblock %}

{% block content %}
<div class="container" style="margin-top: 100px;">
        <h1>Report for Meeting #{{event.meeting_id}}</h1>
        <div class="row">
            <div class="col">
                <p>
                <strong>Title: </strong>{{event.title}}<br>
                <strong>Venue: </strong>{{event.venue}}<br>
                <strong>Attendance: </strong><br>
                <strong>Author: </strong>{{event.author}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img class = "img-fluid" loading="auto" style="margin-top: 20px;margin-bottom: 20px;"src="/static/uploads/{{event.image}}">
                    </div>
                </div>
                <h3>Report:</h3>
                <p style="margin-top: 50px;">{{event.report}}</p>
            </div>
        </div>
    </div>
{% endblock %}
