{% extends "admin/base.html" %}

{% block title %}Badges{% endblock %}
{% block content %}
<div class="container">
        <form class="login-one-form" method="post">
            <div class="col">
                <div class="login-one-ico"><i class="fa fa-unlock-alt" id="lockico"></i></div>
                <div class="form-group mb-3">
                    <div>
                        <h3 id="heading">change Password</h3>
                    </div>
                    <input class="form-control" name ="current_password" type="password" id="input-1" placeholder="Current Password" style="margin-bottom: 15px;">
                    <input class="form-control" name = "new_password" type="password" id="input-3" placeholder="New Password" style="margin-bottom: 15px;">
                    <input class="form-control" name = "confirm_password" type="password" id="input-2" placeholder="Confirm Password">
                    <button class="btn btn-primary" id="button" style="width: 250px;background: blue;font-size: 10px;" type="submit">change password</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
