{% extends "admin/base.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}


    <div class="container">
        <h1 style="margin-top: 100px;"><em>{{current_user.name}}'s Dashboard&nbsp;</em></h1>
    </div>
    {% if events[0] %}
    <div class="container">
        <div class="card">
            <div class="card-body" style="margin-top: 10px;border-style: none;">
                <h4 class="card-title">Upcoming Meeting</h4>
                <p class="card-text"><em>
                    <strong>Title: </strong>{{events[0].title}}</em><br><em>
                    <strong>Meeting No: </strong>{{events[0].meeting_id}}</em><br><em>
                    <strong>Venue: </strong>{{events[0].venue}}</em><br><em>
                    <strong>Date: </strong>{{events[0].date}}</em><br>
                    <strong><em>Timings: </strong>{{events[0].time}}<br><br>
                    <a class="card-link" href="/leave_applications/{{ events[0].meeting_id}}    " style="color: blue;font-style: italic;text-decoration:underline;"><em>Leave Applications</em></a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    {% if events[1] %}
    <div class="container" style="margin-top: 20px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Last Meeting</h4>
                <p class="card-text" style="color: black;">
                    <em><strong>Meeting No: </strong>{{events[1].meeting_id}}</em>
                    <br><em><strong>Title: </strong>{{events[1].title}}<br></em>
                    <em><strong>Venue: </strong>{{events[1].venue}}</em>
                    <br><em><strong>Date: </strong>{{events[1].date}}</em>
                    <br><em><strong>Timings: </strong>{{events[1].time}}</em>
                    <br><em><strong>Attendance: </strong>{{events[1].attendance}}</em>
                    <br><em><strong>Report:&nbsp;</strong> &nbsp;</em>
                    <a href="/view_report/{{events[1].meeting_id}}" style="color: blue;"><em>click here</em></a>
                </p>
            </div>
    </div>
    {% endif %}
    <div class = "container">
        <div class="row">
            <div class="col">
                <div class="card">
            </div>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col">
                <h1>Badges</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p><em>Students with badges: {{dcount}}</em></p><a class="card-link" href="/distribute_badges" style="color: blue;"><em>Distribute</em></a
                    ><a class="card-link" href="/badge_distributed_list" style="color: blue;"><em>Distributed list</em></a>
                        <h4 class="card-title"></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><em>Students returned badges: {{rcount}}</em></p><a class="card-link" href="/return_badges" style="color: blue;"><em>Return</em></a>
                        <a class="card-link" href="/badge_returned_list" style="color: blue;"><em>Returned list</em></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>

{% endblock %}