


{% extends "admin/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}



<div class="container" style="margin-top: 100px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <p class="card-text">
                    <strong>Name: </strong>{{current_user.name}}
                    <br><strong>Role: </strong>{{current_user.type}}<br></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" style="margin-bottom: 50px;"></div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <h3 style="margin-bottom: 10px;">Contact Details</h3>
                    <h3>Email</h3>
                    <input class="form-control" name="email" placeholder = {{current_user.email}} type="email" />
                    <h3>Phone Number</h3>
                    <input class="form-control" type="number" name="phone" style="margin-top: 20px;" placeholder={{current_user.phone}} />
                    <hr>
                    <button class="btn btn-primary" type="submit" style="border-radius: 5px;background: blue;font-size: 10px;">Save</button>
                     {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Change Password</h4>
                <button class="btn btn-primary" type="button" style="background: blue;border-radius: 5px;font-size: 10px;"><a href="/change_password" style= color:white;"> Change Password</button></a>

            </div>
        </div>
    </div>

{% endblock %}