<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" lang="eng">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
 <title>Press Club</title>
     <link rel="stylesheet" href="{{url_for('static',filename = 'assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel=s"stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allison&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
     <link rel="stylesheet" href="{{url_for('static',filename = 'assets/fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/Login-screen.css')}}">
</head>
<body>
<div class="container">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background: var(--bs-indigo);">
                    <div class="container"><a class="navbar-brand" href="/dashboard" style="font-family: 'Cedarville Cursive', serif;color: white;">Press Club&nbsp;</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item"><a class="nav-link" href="{{url_for('dashboard')}}" style="color: white;">Dashboard</a></li>
                                <li class="nav-item" style="color: white;"><a class="nav-link" href="{{url_for('add_member')}}" style="color: white;">Add member</a></li>
                                <li class="nav-item" style="color: white;"><a class="nav-link" href="/reports" style="color: white;">reports</a></li>
                                <li class="nav-item"><a class="nav-link" href="/team" style="color: white;">Team members</a></li>
                                <li class="nav-item" style="color: white;"><a class="nav-link" href="/admin_profile" style="color: white;">profile</a></li>
                                <li class="nav-item" style="color: white;"><a class="nav-link" href="/logout" style="color: white;">Logout</a></li>
                                <li class="nav-item dropdown" style="color: white"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: white;">Coordinator</a>
                                    <div class="dropdown-menu" style="background: var(--bs-indigo);"><a class="dropdown-item" href="/assign_coordinator" style="color: white;">Assign Coordinator</a><a class="dropdown-item" href="revoke_coordinator" style="color: white;">Revoke Coordinator</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container" style="height: 600px;margin: 2px;">
        <form method="post" class="login-one-form" style="color: var(--bs-body-color);background: #ffffff;">
            <div class="col">

                <div class="form-group mb-3" style="height: 250px;">
                    <div>
                        <h3 id="heading">Return Badge</h3>
                    </div>
                    <input class="form-control" type="text" id="input-1" name="username" placeholder="Roll No">
                    <button class="btn btn-primary" id="button" style="width: 250px;background: blue;border-radius: 5px;margin-top: 15px;" type="submit">Assign</button>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </form>
    </div>
<script src="{{url_for('static', filename = 'assets/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename = 'assets/js/clean-blog.js')}}"></script>
</body>
</html>