{% extends "admin/base.html" %}

{% block title %}Badges{% endblock %}
{% block content %}


<div class="container" style="margin: 100px;">
        {% if year == "0" %}
        <h1>Team List Year : All </h1>
        {% else %}
        <h1>Team List Year : {{year}} </h1>
        {% endif %}

    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Roll No</th>
                        <th>Department</th>
                        <th>Attendance</th>
                        <th>Absent</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                {% for x in  range(students|length) %}
                    <tr>
                        <td>{{x+1}}</td>
                        <td>{{students[x].name}}</td>
                        <td>{{students[x].username}}</td>
                        <td>{{students[x].department}}</td>
                        <td>{{attendance[x]}}</td>
                        <td>{{absent[x]}}</td>
                        <td>{{students[x].phone}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <p class="text-muted copyright" style="color: var(--bs-red);">Copyright&nbsp;©&nbsp; Pragati Press Club -2022</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}